.todo__title {
  margin-bottom: $default-offset;
  padding: $default-offset;
  background-color: #fff;
  box-shadow: 10px 10px;
  h2 {
    text-align: center;
    color: $main-color;
  }
}

.column__content,
.todo__content {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: $default-offset $default-offset 30px $default-offset;
  box-shadow: 10px 10px;
}
.todo__controls {
  display: flex;
  margin-bottom: 40px;
  input {
    width: 70%;
    margin-right: $default-offset;
    border: 2px solid $main-color;
    border-radius: $inner-content-border-radius;
    padding: 5px;
  }
  button {
    flex: 1;
    background-color: $main-color;
    color: #fff;
    border-radius: $inner-content-border-radius;
    cursor: pointer;
    @include clickingEffect();
  }
}
.todo__item {
  padding: 5px;
  border-radius: $inner-content-border-radius;
  border: 1px solid #cecece;
  background-color: rgb(231, 231, 231);

  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .todo__item-controls {
    display: flex;
  }
  .todo__item-control {
    height: 40px;
    width: 40px;
    background-color: rgb(25, 61, 153);
    border-radius: $inner-content-border-radius;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    &:first-child {
      margin-right: 5px;
    }
    &--success {
      background-color: rgb(0, 170, 105);
      @include clickingEffect();
    }
    &--error {
      @include clickingEffect();
    }
  }

  &--success {
    background-color: $success-color;
  }
  &--error {
    background-color: $error-color;
    border-color: $error-color;
  }
}
